@import '../helpers/variables.scss';
@import '../Common.module.scss';

.timer__form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}

.timer__text_input, .timer__date_input, .timer__time_input {
  width: 100%;
  margin-bottom: 20px;
}

.timer__btn_container {
  button {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}